{% extends "rsvp/base.html" %}

{% block content %}

<div class="center text-center">
    <div>
        <h2>The Wedding</h2>
        <h3>October __, 2020</h3>
        <p>Link to RSVP</p>
    </div c>

    <div>
        <h2>Ceremony & Reception</h2>
        <h3>Name of location</h3>
        <p>Address of location and</p>
        <p> Directions Link</p>
    </div>

    <div>
        <h2>Rehersal information</h2>
        <h3>Event location and time</h3>
        <p>Dinner to follow at other location</p>
    </div>
</div>

{% endblock content %}
